bnovo_api/.phpunit.cache
bnovo_api/node_modules
bnovo_api/public/build
bnovo_api/public/hot
bnovo_api/public/storage
bnovo_api/storage/*.key
bnovo_api/vendor
bnovo_api/.env.backup
bnovo_api/.env.production
bnovo_api/.phpunit.result.cache
bnovo_api/Homestead.json
bnovo_api/Homestead.yaml
bnovo_api/auth.json
bnovo_api/npm-debug.log
bnovo_api/yarn-error.log
bnovo_api/.fleet
bnovo_api/.idea
bnovo_api/.vscode\
.idea
